* {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: black;
    display: table-cell;
    vertical-align: middle;
}

#sign-up-form {
    align-items: center;
}

#submit-btn {
    margin-top: 15px;
    background-color: #f31232;
    width: 125px;
    height: 75px;
    border-radius: 20px;
    font-size: 20px;
}

fieldset {
    border: none;
}

legend {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    text-align: center;
}

#basic-info {
    align-items: center;
    font-size: 15px;
}

#display-image {
    width: 75px;
    height: 75px;
}

#preferences {
    align-items: center;
}

fieldset {
    align-items: center;
}

input {
    background-color: black;
    margin: 5px;
}