<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/signUpstyles.css">
    <title>Wing Man</title>
</head>
<body>
    <form id="sign-up-form" method="post">
        <h2>Personal Info</h2>
        <div id="basic-info">
            <label for="first-name">First Name: </label>
            <input id="first-name" name = "first-name" type="text" placeholder="John" required>
            <br>
            <label for="last-name">Last Name: </label>
            <input id="last-name" name = "last-name" type="text" placeholder="Doe" required>
            <br>
            <label for="dob">Date of Birth</label>
            <input id="dob" name = "dob" type="date" max="2005-03-02" required>
            <br>
            <label for="username">First Name: </label>
            <input id="username" name = "username" type="text" placeholder="abc123" required>
            <br>
            <label id='pfp-label' for="file" style="cursor: pointer;">Upload Image</label>
            <input id='pfp' type="file" accept="image/*" name="image" required>
            <img id="display-image">
            <br>
            <label for="email">email: </label>
            <input id="email" name = "email" type="email" required>
            <br>
            <label for="password">Enter a password: </label>
            <input id="password" name = "password" type="password" required>
            <br>
            <label for="confirm-pw">Confirm password: </label>
            <input id="confirm-pw" name="confirm-pw", type="password" required>
        </div>
        <br>
        <h2>Preferences</h2>
        <div id="preferences">
            <label for="url">Enter the url of a pulic spotify playlist that you listen to:</label>
            <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="50" required>

            <fieldset>
                <legend>Are you a very outgoing person?</legend>
                <div>
                    <label for="q1op1">Strongly Disagree</label>
                    <input id="q1op1" class="rad-options" name="q1" type="radio" value="Strongly Disagree" required>
                </div>
                <div>
                    <label for="q1op2">Disagree</label>
                    <input id="q1op2" class="rad-options" name="q1" type="radio" value="Disagree" required>
                </div>
                <div>
                    <label for="q1op3">Neutral</label>
                    <input id="q1op3" class="rad-options" name="q1" type="radio" value="Neutral" required>
                </div>
                <div>
                    <label for="q1op4">Agree</label>
                    <input id="q1op4" class="rad-options" name="q1" type="radio" value="Agree" required>
                </div>
                <div>
                    <label for="q1op5">Strongly Agree</label>
                    <input id="q1op5" class="rad-options" name="q1" type="radio" value="Strongly Agree" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>idk man i forgot what other questions to ask, these are placeholders anyways</legend>
                <div>
                    <label for="q2op1">Strongly Disagree</label>
                    <input id="q2op1" class="rad-options" name="q2" type="radio" value="Strongly Disagree" required>
                </div>
                <div>
                    <label for="q2op2">Disagree</label>
                    <input id="q2op2" class="rad-options" name="q2" type="radio" value="Disagree" required>
                </div>
                <div>
                    <label for="q2op3">Neutral</label>
                    <input id="q2op3" class="rad-options" name="q2" type="radio" value="Neutral" required>
                </div>
                <div>
                    <label for="q2op4">Agree</label>
                    <input id="q2op4" class="rad-options" name="q2" type="radio" value="Agree" required>
                </div>
                <div>
                    <label for="q2op5">Strongly Agree</label>
                    <input id="q2op5" class="rad-options" name="q2" type="radio" value="Strongly Agree" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Some placeholder for some question 3</legend>
                <div>
                    <label for="q3op1">Strongly Disagree</label>
                    <input id="q3op1" class="rad-options" name="q3" type="radio" value="Strongly Disagree" required>
                </div>
                <div>
                    <label for="q3op2">Disagree</label>
                    <input id="q3op2" class="rad-options" name="q3" type="radio" value="Disagree" required>
                </div>
                <div>
                    <label for="q3op3">Neutral</label>
                    <input id="q3op3" class="rad-options" name="q3" type="radio" value="Neutral" required>
                </div>
                <div>
                    <label for="q3op4">Agree</label>
                    <input id="q3op4" class="rad-options" name="q3" type="radio" value="Agree" required>
                </div>
                <div>
                    <label for="q3op5">Strongly Agree</label>
                    <input id="q3op5" class="rad-options" name="q3" type="radio" value="Strongly Agree" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Some placeholder for some question 4</legend>
                <div>
                    <label for="q4op1">Strongly Disagree</label>
                    <input id="q4op1" class="rad-options" name="q4" type="radio" value="Strongly Disagree" required>
                </div>
                <div>
                    <label for="q4op2">Disagree</label>
                    <input id="q4op2" class="rad-options" name="q4" type="radio" value="Disagree" required>
                </div>
                <div>
                    <label for="q4op3">Neutral</label>
                    <input id="q4op3" class="rad-options" name="q4" type="radio" value="Neutral" required>
                </div>
                <div>
                    <label for="q4op4">Agree</label>
                    <input id="q4op4" class="rad-options" name="q4" type="radio" value="Agree" required>
                </div>
                <div>
                    <label for="q4op5">Strongly Agree</label>
                    <input id="q4op5" class="rad-options" name="q4" type="radio" value="Strongly Agree" required>
                </div>
            </fieldset>

            <fieldset>
                <legend>Some placeholder for some question 5</legend>
                <div>
                    <label for="q5op1">Strongly Disagree</label>
                    <input id="q5op1" class="rad-options" name="q5" type="radio" value="Strongly Disagree" required>
                </div>
                <div>
                    <label for="q5op2">Disagree</label>
                    <input id="q5op2" class="rad-options" name="q5" type="radio" value="Disagree" required>
                </div>
                <div>
                    <label for="q5op2">Neutral</label>
                    <input id="q5op3" class="rad-options" name="q5" type="radio" value="Neutral" required>
                </div>
                <div>
                    <label for="q5op2">Agree</label>
                    <input id="q5op4" class="rad-options" name="q5" type="radio" value="Agree" required>
                </div>
                <div>
                    <label for="q5op2">Strongly Agree</label>
                    <input id="q5op5" class="rad-options" name="q5" type="radio" value="Strongly Agree" required>
                </div>
            </fieldset>
        </div>
        <input id="submit-btn" type="submit" value="Complete!">
    </form>
</body>
</html>